<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% comment %} <link href="{% static 'FontAwesome/css/all.min.css' %}" rel="stylesheet" /> {% endcomment %}
<style>
  body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}
</style>
  </head>
  <body>

    {% block body %}
    {% endblock body %}

    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bundle.min.js' %}"></script>
    {% comment %} <script src="{% static 'FontAwesome/js/all.min.js' %}"></script> {% endcomment %}
    
  </body>
</html>